body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.container{
    border: 3px solid #FFF;
    border-radius: 10px;
    padding: 60px;
    max-width: 800px;
    max-height: 800px;
    background-color: 	#222222;
}

form input{
    margin-bottom: 10px;
}

.form-label{
    margin-bottom: 0;
    color: #FFF;
}

h1{
    color: #FFF;
}

.card-body{
    text-align: center;
}

.btn-primary{
    margin-bottom: 10px;
}